[flake8]
max-line-length = 88
exclude = .git, __pycache__, /hera/stdlib.py, __init__py
# Mostly ignore things that black inserts
ignore =
    # E203 whitespace before ':'
    E203,
    # W503 line break before binary operator
    W503,
    # W293 blank line contains whitespace (sometimes we need it in string literals,
    # and black will catch it anyway)
    W293,
    # E501 line too long (black handles this)
    E501,
